.task-input{
    outline: none;
    width: 300px;
    padding: 10.5px;
    font-size: 17px;
    color: #424242;
    background-color: bisque;
    border: 1px solid #c89666;
    border-radius: 10px 0 0 10px;
}
@media (min-width:375px){
    .task-input{
        width: 75%;
        padding: 4px;
        border-radius: 5px 0 0 5px;
        font-size: 12px;
       
    }
}

@media (min-width:768px){
    .task-input{
        width: 80%;
        padding: 8px;
    }
}
.make-button{
    width: 70px;
    padding: 11px;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #74625D;
    color: #ccc;
    cursor: pointer;
}

@media (min-width:375px){
    .make-button{
        width: 40px;
        border-radius: 0 5px 5px 0;
        font-size: 10.5px;
        padding: 5.7px;
        
    }
}

@media (min-width:768px){
    .make-button{
    width: 55px;
    font-size: 12px;
    padding: 8.8px;
    border-radius: 0 8px 8px 0;
    }
}

.make-button:hover {
    background-color: #7a6060;
  }

